/* Jatt (Just Another Tooltip) overall */
.tooltip, .preview, .screenshot { cursor: pointer; }

/* tooltip only, don't add a default width to
 preview/screenshot tooltips or the image won't fit inside */
#tooltip { width: relative; }

/* basic tooltip style */
#tooltip, #preview {
 color: #dddddd;
 font-weight: bold;
 background: #444;
 border: 4px solid black;
 padding: 8px;
 display: none;
 opacity: 0.95;
 filter: alpha(opacity=95);
 text-align: left;
 border-radius: .5em;
 -moz-border-radius: .5em;
 -webkit-border-radius: .5em;
 z-index: 1000;
 max-width: 800px;
}

/* close button (span) */
#tooltip .close, #preview .close {
 position: absolute;
 top: 3px;
 right: 3px;
 display: none;
 cursor: pointer;
 text-indent: -9999px;
 background: url(../images/close.gif) center center no-repeat;
 width: 16px;
 height: 16px;
}
